<div class="flex flex-col md:flex-row justify-center px-4 py-10">

    <div class="flex flex-col md:flex-row items-center justify-center max-w-[1440px] w-full gap-8">

        <!-- FORM -->
        <div class="w-full md:w-5/12 flex justify-center">
            <div class="w-full max-w-md p-6 bg-white dark:bg-black/85 shadow-md rounded-lg">

                <div class="mb-6 flex justify-center">
                    <img [src]="logo" alt="Logo" class="h-12" />
                </div>

                <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">

                    <!-- TIPO PESSOA -->
                    <div class="mt-1">
                        <select formControlName="tipo_pessoa" class="mt-1 block w-full h-9 dark:bg-gray-950 dark:text-white shadow-sm rounded-sm
                            
                                                   
                            px-2  bg-white focus:outline-none  focus:ring-2 focus:ring-black dark:focus:ring-white  transition-all cursor-pointer  hover:shadow-md
                            
                            
                            ">
                            <option value="">Selecione o tipo de pessoa *</option>
                            <option value="pf">Pessoa Física</option>
                            <option value="pj">Pessoa Jurídica</option>
                        </select>

                        @if (formRegister.controls['tipo_pessoa'].touched) {
                        @if (formRegister.controls['tipo_pessoa'].errors?.['required']) {
                        <span class="text-red-500 ml-2">
                            Obrigatório selecionar o tipo de pessoa.
                        </span>
                        }
                        }
                    </div>

                    <!-- NOME -->
                    <div>
                        <input type="text" formControlName="name"
                            [placeholder]=" formRegister.value.tipo_pessoa === 'pj'        ? 'Razão Social *'        : 'Nome completo *'    "
                            class="mt-4 block w-full h-9  px-2 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                        @if (formRegister.controls['name'].touched) {

                        @if (formRegister.controls['name'].errors?.['required']) {
                        <span class="text-red-500 ml-2">
                            @if (formRegister.value.tipo_pessoa === 'pj') {
                            Razão Social é obrigatório.
                            } @else {
                            Nome completo é obrigatório.
                            }
                        </span>
                        }

                        @if (formRegister.controls['name'].errors?.['minlength']) {
                        <span class="text-red-500 ml-2">
                            @if (formRegister.value.tipo_pessoa === 'pj') {
                            Nome fantasia deve ter no mínimo 8 caracteres.
                            } @else {
                            Nome completo deve ter no mínimo 8 caracteres.
                            }
                        </span>
                        }

                        }
                    </div>

                    <!-- EMAIL -->
                    <div class="mt-4">
                        <input type="email" formControlName="email" placeholder="E-mail *"
                            class="mt-1 block w-full h-9  px-2 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />

                        @if (formRegister.controls['email'].touched) {
                        @if (formRegister.controls['email'].errors?.['required']) {
                        <span class="mt-2 ml-2 text-red-500">
                            E-mail é obrigatório.
                        </span>
                        }@else if(formRegister.controls['email'].errors?.['emailInvalido']) {
                        <span class="mt-2 ml-2 text-red-500">
                            E-mail informado é inválido.
                        </span>
                        } @else {
                        <span class="mt-1 ml-1 text-green-500 text-stroke-3">
                            Será enviado e-mail de confirmação após o cadastro.
                        </span>
                        }
                        }

                    </div>

                    <!-- DATA DE NASCIMENTO  -->
                    @if (formRegister.controls['tipo_pessoa'].value === '' || formRegister.controls['tipo_pessoa'].value
                    === 'pf') {
                    <div class="mt-4">
                        <input type="text" formControlName="data_nascimento" placeholder="Data de Nascimento *"
                            maxlength="10" (input)="mascaraData($event)" minlength="10" autocomplete="off"
                            class="mt-1 block w-full h-9  px-2 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />

                        @if (formRegister.controls['data_nascimento'].touched) {

                        @if (formRegister.controls['data_nascimento'].errors?.['required']) {
                        <span class="mt-2 ml-2 text-red-500">
                            Data de nascimento é obrigatória para pessoas físicas.
                        </span>
                        }

                        @if (formRegister.controls['data_nascimento'].errors?.['formatoInvalido']) {
                        <span class="mt-2 ml-2 text-red-500">
                            Use o formato DD/MM/YYYY.
                        </span>
                        }
                        @if (formRegister.controls['tipo_pessoa'].value === ''){
                        <span class="mt-2 ml-2 text-red-500">
                            Selecione o tipo de pessoa.
                        </span>
                        }

                        }
                    </div>
                    }



                    <!-- CPF / CNPJ -->
                    <div class="mt-4">
                        <input type="text" formControlName="cpf_cnpj" inputmode="numeric" pattern="[0-9]*"
                            (input)="mascaraCpfCnpj($event)"
                            [maxlength]="formRegister.controls['tipo_pessoa'].value === 'pj' ? 14 : 11"
                            [placeholder]="formRegister.value.tipo_pessoa === 'pj' ? 'CNPJ *' : 'CPF *'"
                            class="mt-1 block w-full h-9  px-2 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />

                        @if (formRegister.controls['cpf_cnpj'].touched) {
                        @if (formRegister.controls['cpf_cnpj'].errors?.['required']) {
                        <span class="text-red-500 ml-2">
                            @if (formRegister.value.tipo_pessoa === 'pj') {
                            CNPJ é obrigatório.
                            } @else {
                            CPF é obrigatório.
                            }
                        </span>
                        }
                        @if (formRegister.controls['cpf_cnpj'].errors?.['apenasNumeros']) {
                        <span class="text-red-500 ml-2">Use apenas números.</span>
                        }
                        @if (
                        formRegister.controls['cpf_cnpj'].errors?.['cpfInvalido']
                        && formRegister.value.tipo_pessoa === 'pf'
                        ) {
                        <span class="text-red-500 ml-2">CPF inválido.</span>
                        }

                        @if (
                        formRegister.controls['cpf_cnpj'].errors?.['cnpjInvalido']
                        && formRegister.value.tipo_pessoa === 'pj'
                        ) {
                        <span class="text-red-500 ml-2">CNPJ inválido.</span>
                        }

                        @if (formRegister.controls['cpf_cnpj'].errors?.['tamanhoInvalido']) {
                        <span class="text-red-500 ml-2">
                            @if (formRegister.value.tipo_pessoa === 'pj') {
                            CNPJ deve conter 14 números.
                            } @else {
                            CPF deve conter 11 números.
                            }
                        </span>
                        }

                        @if (formRegister.controls['cpf_cnpj'].errors?.['naoselecionado']) {
                        <span class="text-red-500 ml-2">
                            @if (formRegister.value.tipo_pessoa === '') {
                            Selecione o tipo de pessoa.
                            }
                        </span>
                        }

                        }
                    </div>

                    <!-- TELEFONE -->
                    <div class="mt-4">
                        <input type="text" formControlName="telefone" placeholder="Telefone  *" data-last-length="0"
                            maxlength="15" (input)="mascaraTelefone($event)"
                            class="mt-1 block w-full h-9  px-2 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                        @if (formRegister.controls['telefone'].touched) {
                        @if (formRegister.controls['telefone'].errors?.['required']) {
                        <span class="text-red-500 ml-2">Telefone obrigatório.</span>
                        }
                        @if (formRegister.controls['telefone'].errors?.['pattern']) {
                        <span class="text-red-500 ml-2">Telefone inválido.</span>
                        }
                        }
                    </div>

                    <!-- INSCRIÇÃO ESTADUAL -->
                    @if (formRegister.value.tipo_pessoa === 'pj') {
                    <div class="mt-4">
                        <input type="text" formControlName="inscricao_estadual" placeholder="Inscrição Estadual"
                            class="mt-1 block w-full h-9  px-2 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                    </div>
                    }

                    <!-- SENHA -->
                    <div class="mt-4">
                        <input type="password" formControlName="password" placeholder="Sua senha *"
                            class="mt-1 block w-full h-9  px-2 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                        @if (formRegister.controls['password'].touched) {
                        @if (formRegister.controls['password'].errors?.['required']) {
                        <span class="text-red-500 ml-2">Senha obrigatória.</span>
                        }
                        @if (formRegister.controls['password'].errors?.['pattern']) {
                        <span class="text-red-500 ml-2">Senha fraca mín.( 8 caracteres, 1 maiúscula, 1 número e 1
                            símbolo).
                        </span>
                        }
                        }
                    </div>

                    <!-- CONFIRMAR SENHA -->
                    <div class="mt-4">
                        <input type="password" formControlName="password_confirmation" placeholder="Confirmar senha *"
                            class="mt-1 block w-full h-9  px-2 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                        @if (formRegister.errors?.['senhasDiferentes'] &&
                        formRegister.controls['password_confirmation'].touched) {
                        <span class="text-red-500 ml-2">
                            As senhas não conferem.
                        </span>
                        }
                    </div>

                    <div class="mt-6 flex justify-center">
                        <a class="text-sm underline">
                            <re-captcha #captchaRef
                            siteKey="6LeLl4YrAAAAAG36LmmnCq7PbEO_kzBKZkngaUxN"
                                (resolved)="onCaptchaResolved($event)">
                            </re-captcha>
                        </a>
                    </div>

                    <!-- BOTÃO  REGISTER-->
                    <div class="mt-6">
                        <button type="submit" class="w-full rounded-sm bg-green-600 px-4 py-2 text-sm font-medium text-white hover:bg-green-700
                             transition  active:scale-94   hover:text-gray-700   dark:hover:text-gray-300">
                            Criar conta
                        </button>
                    </div>

                    <!-- LOGIN -->
                    <div class="mt-6">
                        <hr class="w-full h-px border-0 bg-gray-200 dark:bg-gray-700 rounded">
                        <a routerLink="../login" class="w-full mt-4 inline-flex justify-center rounded-sm bg-orange-600/90 px-4 py-2 text-sm font-medium text-white hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-gray-700 dark:focus:ring-indigo-50 focus:ring-offset-2 dark:focus:ring-offset-gray-800
                             transition  active:scale-94   hover:text-gray-700   dark:hover:text-gray-300">
                            Já tem conta? Faça login
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <!-- BANNER -->
        <div class="w-full md:w-7/12 flex justify-center mt-10 md:mt-0 px-4">
            <img [src]="banner" class="w-full max-w-[790px] h-auto object-contain rounded-lg shadow-lg" />
        </div>

    </div>
</div>