<div class="flex flex-col md:flex-row justify-center px-4 py-10">

    <div class="flex flex-col md:flex-row items-center justify-center max-w-[1440px] w-full gap-8">

        <!-- FORM -->
        <div class="w-full md:w-5/12 flex justify-center">
            <div class="w-full max-w-md p-6 bg-white dark:bg-black/85 shadow-md rounded-lg">

                <div class="mb-6 flex justify-center">
                    <img [src]="logo" alt="Logo" class="h-12" />
                </div>

                <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">

                    <!-- NOME -->
                    <div>
                        <input type="text" formControlName="name" placeholder=" Nome completo *"
                            class="mt-1 block w-full h-9 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                        @if (formRegister.controls['name'].touched) {
                        @if (formRegister.controls['name'].errors?.['required']) {
                        <span class="text-red-500 ml-2">Nome é obrigatório.</span>
                        }
                        @if (formRegister.controls['name'].errors?.['minlength']) {
                        <span class="text-red-500 ml-2">Mínimo 8 caracteres.</span>
                        }
                        }
                    </div>

                    <!-- EMAIL -->
                    <div class="mt-4">
                        <input type="email" formControlName="email" placeholder=" E-mail *"
                            class="mt-1 block w-full h-9 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />

                        @if (formRegister.controls['email'].touched) {
                        @if (formRegister.controls['email'].errors?.['required']) {
                        <span class="mt-2 ml-2 text-red-500">
                            E-mail é obrigatório.
                        </span>
                        }
                        @if (formRegister.controls['email'].errors?.['emailInvalido']) {
                        <span class="mt-2 ml-2 text-red-500">
                            E-mail informado é inválido.
                        </span>
                        }
                        }

                    </div>

                    <!-- TIPO PESSOA -->
                    <div class="mt-4">
                        <select formControlName="tipo_pessoa"
                            class="mt-1 block w-full h-9 dark:bg-gray-950 dark:text-white shadow-sm rounded-sm">
                            <option value="pf"> Pessoa Física *</option>
                            <option value="pj"> Pessoa Jurídica *</option>
                        </select>
                    </div>

                    <!-- CPF / CNPJ -->
                    <div class="mt-4">
                        <input type="text" formControlName="cpf_cnpj" inputmode="numeric" pattern="[0-9]*"
                            maxlength="14" placeholder=" CPF ou CNPJ *"
                            class="mt-1 block w-full h-9 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                        @if (formRegister.controls['cpf_cnpj'].touched) {
                        @if (formRegister.controls['cpf_cnpj'].errors?.['required']) {
                        <span class="text-red-500 ml-2">CPF ou CNPJ é obrigatório.</span>
                        }
                        @if (formRegister.controls['cpf_cnpj'].errors?.['apenasNumeros']) {
                        <span class="text-red-500 ml-2">Use apenas números.</span>
                        }
                        @if (formRegister.controls['cpf_cnpj'].errors?.['cpfInvalido']) {
                        <span class="text-red-500 ml-2">CPF inválido.</span>
                        }
                        @if (formRegister.controls['cpf_cnpj'].errors?.['cnpjInvalido']) {
                        <span class="text-red-500 ml-2">CNPJ inválido.</span>
                        }
                        @if (formRegister.controls['cpf_cnpj'].errors?.['tamanhoInvalido']) {
                        <span class="text-red-500 ml-2">
                            Informe um CPF (11) ou CNPJ (14) válido.
                        </span>
                        }

                        }
                    </div>

                    <!-- TELEFONE -->
                    <div class="mt-4">
                        <input type="text" formControlName="telefone" placeholder=" Telefone  *" maxlength="11"
                            pattern="[0-9]*"
                            class="mt-1 block w-full h-9 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                        @if (formRegister.controls['telefone'].touched) {
                        @if (formRegister.controls['telefone'].errors?.['required']) {
                        <span class="text-red-500 ml-2">Telefone obrigatório.</span>
                        }
                        @if (formRegister.controls['telefone'].errors?.['pattern']) {
                        <span class="text-red-500 ml-2">Telefone inválido.</span>
                        }
                        }
                    </div>

                    <!-- INSCRIÇÃO ESTADUAL -->
                    @if (formRegister.value.tipo_pessoa === 'pj') {
                    <div class="mt-4">
                        <input type="text" formControlName="inscricao_estadual" placeholder=" Inscrição Estadual"
                            class="mt-1 block w-full h-9 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                    </div>
                    }

                    <!-- SENHA -->
                    <div class="mt-4">
                        <input type="password" formControlName="password" placeholder=" Sua senha *"
                            class="mt-1 block w-full h-9 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                        @if (formRegister.controls['password'].touched) {
                        @if (formRegister.controls['password'].errors?.['required']) {
                        <span class="text-red-500 ml-2">Senha obrigatória.</span>
                        }
                        @if (formRegister.controls['password'].errors?.['pattern']) {
                        <span class="text-red-500 ml-2">Senha fraca (mín. 8 caracteres, maiúscula, número e símbolo).
                        </span>
                        }
                        }
                    </div>

                    <!-- CONFIRMAR SENHA -->
                    <div class="mt-4">
                        <input type="password" formControlName="password_confirmation" placeholder=" Confirmar senha *"
                            class="mt-1 block w-full h-9 dark:bg-gray-900/50 dark:text-white shadow-sm rounded-sm" />
                        @if (formRegister.errors?.['senhasDiferentes']
                        && formRegister.controls['password_confirmation'].touched) {
                        <span class="text-red-500 ml-2">
                            As senhas não conferem.
                        </span>
                        }
                    </div>

                    <!-- BOTÃO -->
                    <div class="mt-6">
                        <button type="submit" [disabled]="!formRegister.valid"
                            class="w-full rounded-sm bg-green-600 px-4 py-2 text-sm font-medium text-white hover:bg-green-700">
                            Criar conta
                        </button>
                    </div>

                    <!-- LOGIN -->
                    <div class="mt-6">
                        <hr class="w-full h-px border-0 bg-gray-200 dark:bg-gray-700 rounded">
                        <a routerLink="../login"
                            class="w-full mt-4 inline-flex justify-center rounded-sm bg-orange-600/90 px-4 py-2 text-sm font-medium text-white hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-gray-700 dark:focus:ring-indigo-50 focus:ring-offset-2 dark:focus:ring-offset-gray-800">
                            Já tem conta? Faça login
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <!-- BANNER -->
        <div class="w-full md:w-7/12 flex justify-center mt-10 md:mt-0 px-4">
            <img [src]="banner" class="w-full max-w-[790px] h-auto object-contain rounded-lg shadow-lg" />
        </div>

    </div>
</div>